<div class="mt-md-4 px-4">
    <div class="row">
       
        </div>  
        <div>
            <h2 style="text-align: center; color: darkgreen;"><%= course.name %></h2>
            <!-- style đưa anhr vào giữa -->
            <img src="<%= course.image %>" alt="">
            <img src="/../../img/<%= course.image %>" class="card-img-top mx-auto d-block" style="width: 400px; border-radius: 20px" alt="..." />
            <hr>
           <div class="p-5">
            <p style="color: white"><%= course.description %></p>
           </div>
            
        </div>
    </div>    
</div>