<div class="mt-4">
  <form method="POST" action="search">
    <div class="form-group">
      <label for="searchInput">Từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="searchInput"  
        placeholder="nhập từ khóa"
      />

      <div>
        <select name="gender" id="gender-input">
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
        </select>
      </div>
    </div>
   <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    
  </form>
</div>  